Source: audioreach-topology
Maintainer: "Radxa Computer Co., Ltd" <dev@radxa.com>
Section: admin
Priority: standard
Standards-Version: 4.6.0
Build-Depends: debhelper (>=12~),
               devscripts,
               lintian,
               dh-exec,
               pandoc,
               alsa-utils,
               cmake,
               m4,

Package: firmware-qcom-audioreach
Architecture: all
Section: admin
Priority: optional
Depends: ${misc:Depends},
Description: Qualcomm AudioReach firmware
 This package provides the Qualcomm AudioReach firmware.
